@model InterviewExam.Models.RecyclableItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RecyclableItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComputedRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComputedRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecyclableType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecyclableType.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
